@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: "Sarala", sans-serif;
	overflow-x: hidden;
	  background-color: #346285 !important;
	overflow-x: hidden !important;
}

main {
	flex: 1 1 auto;
}

.students-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.modal-title {
	text-align: center;
}

.list-title {
	text-align: center !important;
}

.img-img{
	width: 5%;
}